---
import Layout from '../../layouts/Layout.astro'
---

<Layout active='profile'>
  <section>
    <div class="mb-4 px-5">
      <h1 class="text-3xl mb-2" >
        Hello <br>
        Tina Lee 👋
      </h1>
      <div class="flex gap-4">
        <a href="/account" class="text-xl flex p-2 shadow-md font-bold rounded-md" >
          <p>
          Add Family
          </p>
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" width="30"><path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/></svg>
        </a>
        <a href="/account" class="text-xl flex p-2 shadow-md font-bold rounded-md" >
          <p>
          Edit Profile
          </p>
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" width="30"><path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/></svg>
        </a>
      </div>
    </div>
    <div class="listContainer">
      <div>
        <a href="/account" class="item">
          <span class="iconContainer"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M360-390q-21 0-35.5-14.5T310-440q0-21 14.5-35.5T360-490q21 0 35.5 14.5T410-440q0 21-14.5 35.5T360-390Zm240 0q-21 0-35.5-14.5T550-440q0-21 14.5-35.5T600-490q21 0 35.5 14.5T650-440q0 21-14.5 35.5T600-390ZM480-160q134 0 227-93t93-227q0-24-3-46.5T786-570q-21 5-42 7.5t-44 2.5q-91 0-172-39T390-708q-32 78-91.5 135.5T160-486v6q0 134 93 227t227 93Zm0 80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-54-715q42 70 114 112.5T700-640q14 0 27-1.5t27-3.5q-42-70-114-112.5T480-800q-14 0-27 1.5t-27 3.5ZM177-581q51-29 89-75t57-103q-51 29-89 75t-57 103Zm249-214Zm-103 36Z"
              />
            </svg>
          </span>
          <span class="menuName">Account</span>
        </a>
      </div>

      <div>
        <a href="/policy" class="item">
          <span class="iconContainer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
              />
            </svg>
          </span>
          <span class="menuName">Policy/Document</span>
        </a>
      </div>

      <div>
        <a href="/claim-assistance" class="item">
          <span class="iconContainer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M638-80 468-250l56-56 114 114 226-226 56 56L638-80ZM480-520l320-200H160l320 200Zm0 80L160-640v400h206l80 80H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v174l-80 80v-174L480-440Zm0 0Zm0-80Zm0 80Z"
              />
            </svg>
          </span>
          <span class="menuName">Claim assistance</span>
        </a>
      </div>

      <div>
        <a href="privacySettings" class="item">
          <span class="iconContainer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="m438-338 226-226-57-57-169 169-84-84-57 57 141 141Zm42 258q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z"
              />
            </svg>
          </span>
          <span class="menuName">Privacy Settings</span>
        </a>
      </div>

      <div>
        <a href="/account" class="item">
          <span class="iconContainer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"
              />
            </svg>
          </span>
          <span class="menuName">About us</span>
        </a>
      </div>
    </div>
  </section>
</Layout>

<style>
  h1 {
    font-weight: 700;
  }

  .listContainer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #0d8082;
    display: flex;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
    height: 80vh;
  }

  .item {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 20px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
  }

  .iconcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    background-blend-mode: lighten;
  }

  .menuName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }

</style>