---
import CommingSoon from '@/components/CommingSoon.astro';
import Layout from '../../layouts/Layout.astro'
---

<Layout active='rewards'>
  <section>
    <CommingSoon pageName='Rewards 🎉'/>
  </section>
</Layout>