---
import Layout from '../layouts/Layout.astro'
---

<Layout active=''>
  <section class="grid place-items-center min-h-[80vh]">
   <div class="text-center px-8">
    <h1 class="text-4xl font-bold mb-8">Page not found</h1>
    <p class="text-lg mb-5">Sorry, we couldn't find the page you were looking for.</p>
    <a href="/home" class="text-blue-500 hover:underline">Go back home</a>
   </div>
  </section>
</Layout>
