---
import Layout from '../layouts/Layout.astro'
---

<Layout active=''>
  <section>
    <iframe src="https://www.videoask.com/f4mtqiyc7" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" width="100%" height="650px" style="border: none; border-radius: 24px"></iframe>
  </section>
</Layout>
