<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<link rel="icon" type="image/*" href="/favicon/favicon.ico" />
	<title>Monica</title>
</head>
<main class="main min-h-screen">
	<img src="/logo-white.png" alt="logo" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
	<a href="/home" class="absolute bottom-[250px] w-full text-center px-8 flex justify-center">
		<div class="bg-[#1BEEDC] rounded-2xl py-10 flex w-full justify-center gap-4">
			<p >
				Get started
			</p>
			<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" width="50"><path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/></svg>
		</div>
	</a>
</main>

<style>
	.main {
		background-color: #0D8082;
	}
	p,svg {
		font-size: 40px;
	}

</style>
