---
import CommingSoon from '@/components/CommingSoon.astro';
import Layout from '../../layouts/Layout.astro'
---

<Layout active='discover'>
  <section>
    <CommingSoon pageName='Discover ðŸ§'/>
  </section>
</Layout>