---
interface Props {
	pageName: string;
}

const { pageName } = Astro.props;
---
<div class="flex min-h-[80vh] flex-col items-center justify-center">
  <h1 class="mb-8 animate-pulse text-5xl font-bold">Coming Soon</h1>
  <h2 class="mb-8 text-3xl font-bold p-2 shadow-md rounded-lg">{pageName}</h2>
  <p class="mb-8 text-lg">This page is currently under construction.</p>
</div>