---
import { Image } from 'astro:assets';
---
<header class="flex h-20 max-w-7xl justify-between m-auto items-center">
	<a href="/" class="ps-3">
		<Image src="/logo.png" alt="Logo" width={150} height={30} />
	</a>
</header>